.backgroundBlur {
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: rgba(255,255,255, .35);
  padding: 30px 0;
  display: flex;
  justify-content: center;

  .App {
    width: 98%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }

}
