.login-screen {
    display: grid;
    place-content: center;
    height: 100vh;

    .login-box {
        display: block;
        width: 440px;
        padding: 4rem;
        background-color: rgb(209 213 219 / 0.5);

        .welcome-message {
            padding: 0.25rem;
            text-align: center;
            font-size: 1.875rem;
            line-height: 2.25rem;
            --tw-text-opacity: 1;
            color: rgb(255 255 255 / var(--tw-text-opacity));
        }
    }
}
