.modal {
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 20;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow: auto;
    padding-top: 80px;

    .modal-content {
        background-color: $bg-color-light;
        max-width: 400px;
        margin: auto;
        padding: 2rem;
        border: 1px solid black;
        border-radius: 20px;

        .modal-flex {
            height: 100%;
            justify-content: center;
            align-items: center;

            .input {
                width: 100%;
                padding: 3rem 0;
            }
        }
    }
}

@include media("<=desktop") {
    .modal {
        .modal-content {
            width: 100%;
        }
    }
}
