.form {
  display: flex;
  flex-direction: column;
  width: 50vw;

  .inputs {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    padding: 2.5vh 0;

    &:nth-child(2n) {
      background: lightblue;
    }

    div{
      display: flex;
      justify-content: center;
      align-items: center;

      label {
        font-size: large;
      }

      input {
        width: 2vh;
        height: 2vh;
      }



    }
    select {
      padding: 0.5vh;
    }

    h4 {
      margin: 0;
    }
  }

  .submit {
    cursor: pointer;
    outline: none;
    text-decoration: none;
    font-weight: 600;
    color: black;
    text-transform: uppercase;
    padding: 1.25em 2em;
    background: darken(lightcyan, 30%);
    border: 1px solid darkgray;
    border-radius: 0.75em;

    &:hover {
      background: skyblue;
    }
  }

}

@include media('<=desktop') {
  .form {
    width: 100%;
    position: relative;
    font-size: x-large;

    .inputs {
      flex-direction: column;

      div {
        padding: 18px 0;
        label {
          font-size: inherit;
        }

        input {
          width: 3vh;
          height: 3vh;
        }

      }
      select {
        padding: 2vh 10vw;
      }


    }
    .submit {
      position: sticky;
      padding: 1.8em 2em;
      left: 0;
      bottom: 0;
    }
  }
}

