%clearfix {
    *zoom: 1;
    &:before,
    &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}

.body {
    height: 100%;
    width: 100%;
}

.body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    overflow: hidden;
    background-color: $bg-color-light;
    color: $main-color;
}

.u-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.u-input {
    outline: 0;
    border: 1px solid $light-grey;
    padding: 5px 10px;
    height: 35px;
    font-size: 12px;

    @include border-radius(10px);
}

.c-badge {
    font-size: 10px;
    font-weight: 700;
    min-width: 20px;
    padding: 5px;
    border-radius: 4px;
    display: block;
    line-height: 0.7;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: $main-color;
    border: 1px solid darken($main-color, 5);

    &--red {
        background-color: $red;
        border: 1px solid darken($red, 5);
    }

    &--blue {
        background-color: $light-blue;
        border: 1px solid darken($light-blue, 5);
    }

    &--header-icon {
        position: absolute;
        bottom: -9px;
    }
}

.tooltip {
    width: 120px;
    &-inner {
        padding: 8px 10px;
        color: #fff;
        text-align: center;
        background-color: #051835;
        font-size: 12px;
        border-radius: 3px;
    }
    &-arrow {
        border-right-color: #051835 !important;
    }
}

.hamburger-toggle {
    position: relative;
    padding: 0;
    background: transparent;
    border: 1px solid transparent;
    cursor: pointer;
    order: 1;

    [class*="bar-"] {
        display: block;
        background: $main-color;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: 0.2s ease all;
        transition: 0.2s ease all;

        border-radius: 2px;
        height: 2px;
        width: 24px;
        margin-bottom: 4px;

        &:nth-child(2) {
            width: 18px;
        }

        &:last-child {
            margin-bottom: 0;
            width: 12px;
        }
    }

    &.is-opened {
        left: 3px;

        [class*="bar-"] {
            background: $main-color;
        }

        .bar-top {
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
            -webkit-transform-origin: 15% 15%;
            transform-origin: 15% 15%;
        }

        .bar-mid {
            opacity: 0;
        }

        .bar-bot {
            -webkit-transform: rotate(45deg);
            transform: rotate(-45deg);
            -webkit-transform-origin: 15% 95%;
            transform-origin: 15% 95%;
            width: 24px;
        }
    }

    &:focus {
        outline-width: 0;
    }
}

.header-icons-group {
    display: flex;
    order: 3;
    margin-left: auto;
    height: 100%;
    border-left: 1px solid darken($header-color, 20%);

    .c-header-icon:last-child {
        border-right: 0;
    }
}

.c-header-icon {
    position: relative;
    display: flex;
    flex-shrink: 0;
    float: left;
    width: 70px;
    height: 100%;
    align-items: center;
    justify-content: center;
    line-height: 1;
    cursor: pointer;
    border-right: 1px solid darken($header-color, 20%);

    svg {
        font-size: 18px;
        line-height: 40px;
    }

    &--in-circle {
        border: 1px solid $light-grey;
        border-radius: 100%;
    }

    &:hover {
        svg {
            color: $orange;
        }

        [class*="bar-"] {
            background: $orange;
        }
    }

    // 	&.has-dropdown {
    // 		&:hover {
    // 			.c-dropdown {
    // 				opacity:1;
    // 				top:50px;
    // 			}

    // 		}
    // 	}
}

.l-header {
    padding-left: $sidebarReducedWidth;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    width: 100%;
    background: $header-color;

    &__inner {
        height: 100%;
        width: 100%;
        display: flex;
        height: 70px;
        align-items: center;
        justify-content: stretch;
        border-bottom: 1px solid;
        border-color: darken($header-color, 20%);
    }

    .sidebar-is-expanded & {
        padding-left: $sidebarExpandedWidth;
    }

    @include transition(padding 0.5s ease-in-out);
}

.c-search {
    display: flex;
    flex-grow: 1;
    height: 100%;

    &__input {
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        border-right: 0;
        width: 100%;
        height: 100%;
        border: 0;
        font-size: 14px;
        padding: 0 20px;

        @include transition(all 0.3s ease-in-out);
    }
}

.c-dropdown {
    opacity: 0;
    text-align: left;
    position: absolute;
    flex-direction: column;
    display: none;
    width: 300px;
    top: 30px;
    right: -40px;
    background-color: #fff;
    overflow: hidden;
    min-height: 300px;
    border: 1px solid $light-grey;

    @include border-radius(10px);
    @include box-shadow(0px 5px 14px -1px #cecece);
    @include transition(all 0.3s ease-in-out);
}



.c-menu {
    > ul {
        display: flex;
        flex-direction: column;


    }
}

main.l-main {
    width: 100%;
    height: 100%;
    padding: 70px 0 0 $sidebarReducedWidth;

    .content-wrapper {
        padding: 25px;
        height: 100%;
        overflow: auto;

        .page-content {
            border-top: 1px solid $light-grey;
            padding-top: 25px;
            color: $text-color;
        }

        &--with-bg {
            .page-content {
                background: #fff;
                border-radius: 3px;
                border: 1px solid $light-grey;
                padding: 25px;
            }
        }
    }

    .page-title {
        font-weight: 400;
        margin-top: 0;
        margin-bottom: 25px;
    }

    .sidebar-is-expanded & {
        padding-left: $sidebarExpandedWidth;
    }

    @include transition(padding 0.5s ease-in-out);
}
