.player-wrapper {
  position: relative;
  perspective: 1500px;
  width: 210px;
  height: 190px;
  overflow: hidden;
  border-radius: 10px;

  .player-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, .6);

      .player-number {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        font-size: 14px;
        font-weight: bold;
        margin: 0 5px 0;
        color: #000;
        background-color: $citizen-color;

        &.mafia {
          background-color: $mafia-color;
          color: #fff;
        }
        &.don {
          background-color: $don-color;
          color: #fff;
        }
        &.sheriff {
          background-color: $sheriff-color;
          color: #fff;
        }
      }

      .player-name {
        font-size: 18px;
        color: #fff;
      }
  }

  .player-card {
    position: absolute;
    max-width: 100%;
    top: 0;
    left: 0;
    transition:all .8s ease;
    backface-visibility: hidden;
    width: 210px;
    height: 190px;
    background-size: cover;
    border-radius: 10px;
  
    &.citizen {
      background-image: url('./citizen-bg.jpg');
    }

    &.sheriff {
      background-image: url('./sheriff-bg.jpg');
    }

    &.don {
      background-image: url('./don-bg.jpg');
    }

    &.mafia {
      background-image: url('./mafia-bg.jpg');
    }

    &.sheriff-card {
      background-image: url('./sheriff-card.png');
      z-index: 2;
    }

    &.citizen-card {
      background-image: url('./citizen-card.png');
      z-index: 2;
    }

    &.don-card {
      background-image: url('./don-card.png');
      z-index: 2;
    }

    &.mafia-card {
      background-image: url('./mafia-card.png');
      z-index: 2;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }
}

.alive {
  transform: translateY(0);
  transition: all 500ms;
}

.dead, .vote {
  transform: translateY(30%);
  transition: all 500ms;
  position: relative;
}


.not-alive {
  position: absolute;
  left: 14px;
  background-size: cover;
  z-index: 2;
}

.voted-icon {
  top: 72px;
  width: 20px;
  height: 18px;
  background-image: url('./voted.svg');
}

.dead-icon {
  top: 68px;
  width: 26px;
  height: 26px;
  background-image: url('./dead.svg');
}

.side--front{
  transform: rotateY(-180deg);
}

.side-back{
  transform: rotateY(180deg);
}

.side--back{
  transform: rotateY(0);
}

.background-dead-voted {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 80%;
  background-color: rgba(31, 30, 34, .6);
  border-radius: 10px;
}