$main-color: #102c58;
$text-color: #ababab;
$light-blue: #5f9cfd;
$red: #f91605;
$navy: #051835;
$bg-color-light: #f3f3f3;
$bg-color-dark: $navy;
$orange: #f5642d;
$light-grey: #d0d0d0;
$header-color: #ffffff;
$mafia-color: #B43131;
$don-color: #1F1E22;
$citizen-color: #F2C94C;
$sheriff-color: #27AE60;