$base: #263238;
$lite: #fff;
$brand: #ff3d00;
$size: 48px;

.loader {
    width: $size;
    height: $size;
    border: 5px solid $lite;
    border-bottom-color: $brand;
    border-radius: 50%;
    display: inline-block;
    animation: rotation 1s linear infinite;
}

.loaderBackground {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 50;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    --tw-bg-opacity: 1;
    background-color: $base;
	opacity: 0.75;
	transition: opacity 5s ease-in;
}

@-webkit-keyframes rotation {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
